<h1>New Lesson!</h1>

<h1>Create a new lesson</h1>

<%= form_for [@courses, @lessons] do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :instructions %><br/>
		<%= f.text_field :instructions, :size => 150 %>
	</p>
	<p>
		<%= f.submit "Create" %>
	</p>

<% end %>
