<h1>Create a new course</h1>

<%= form_for @course do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :summary %><br/>
		<%= f.text_field :summary, :size => 150 %>
	</p>
	<p>
		<%= f.submit "Create" %>
	</p>

<% end %>


<p>
	<% @course.lessons.each do |lesson| %>
			<%= link_to lesson.title, lesson %>
		<% end %>
</p>

